@model IEnumerable<Bikers_Diary.Models.Post>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <ul>
        @foreach(var post in Model)
        {
            <li>
                @post.Title
            </li>
        }
       
    </ul>  
</div>
</body>
</html>